<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center">Clinica Odontológica El Redentor</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p>Estimado le recordamos que mañana tiene cita en nuestra clinica <br>
                                "El Redentor" <b>Hora:</b>8:00 AM le esperamos 
                            </p>
                            <p><b>Att:</b> Dr. Juan Angel Castro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>