<div
    class="container-fluid">
    <!-- modal -->
    <div class="modal fade" id="ingresoCitas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title text-white" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h5 class="card-title text-center">Crear nueva cita.</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form">
                                        <form id="form-save-cita">
                                            <input type="hidden" name="id" id="idCita">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="nombres" id="nombres" class="form-control" placeholder="Nombres" required="required" autofocus="autofocus">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Apellidos" required="required">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="tel" name="telefono" id="telefono" class="form-control" placeholder="Telefono">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">Fecha</div>
                                                            </div>
                                                            <input type="date" name="fecha" id="fecha" class="form-control" placeholder="Fecha Inicio" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="email" name="correo" id="correoCita" class="form-control" placeholder="Correo electronico">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">Hora Inicio</div>
                                                            </div>
                                                            <input type="time" name="horaInicio" id="horaInicio" class="form-control" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">Hora Final</div>
                                                            </div>
                                                            <input type="time" formaction="" name="horaFinal" id="horaFinal" class="form-control" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">Dentista</div>
                                                            </div>
                                                            <select name="dentista" id="dentistaCita" class="form-control">
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea name="anotaciones" id="anotaciones" cols="30" rows="3" class="form-control" placeholder="Anotaciones"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <button class="btn btn-primary btn-block btn-guardar-cita" id="btn-guardar-cita">
                                                            <span class="icon-floppy"></span>Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


