<div
    class="container-fluid">
    <!-- modal -->
    <div class="modal fade" id="ingresoExpediente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title text-white" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mx-auto">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h5 class="card-title text-center">Crear nuevo Expediente.</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form">
                                        <form action="" id="form-save-expediente">
                                            <input type="hidden" name="id" id="idExpediente">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="nombres" id="nombresExpediente" class="form-control" placeholder="Nombres" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="apellidos" id="apellidosExpediente" class="form-control" placeholder="Apellidos" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="telefono" id="telefonoExpediente" class="form-control" placeholder="Telefono">
                                                    </div>
                                                    <div class="form-group">
                                                        <select name="sexo" id="sexoExpediente" class="form-control" aria-placeholder="Sexo">
                                                            <option value="M">M</option>
                                                            <option value="F">F</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <input type="number" name="edad" id="edadExpediente" class="form-control" placeholder="Edad" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="nacionalidad" id="nacionalidadExpediente" class="form-control" placeholder="Nacionalidad">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                                                        <div class="input-group mb-2 mr-sm-2">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text">Fecha Creación</div>
                                                            </div>
                                                            <input type="date" name="fecha" id="fechaExpediente" class="form-control" id="" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea name="anotaciones" id="anotacionesExpediente" class="form-control" cols="30" rows="3" placeholder="Anotaciones"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-block btn-primary btn-guardar-expediente" id="btn-guardar-expediente">
                                                    <span class="icon-floppy"></span>Guardar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
