<!-- buscador -->
<div class="container" id="buscadorFecha">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="form-group">
                <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="icon-search"></span></div>
                    </div>
                    <input type="date" class="form-control" id="buscarCitas">
                </div>
            </div>
        </div>
    </div>
        <!-- subTitulo de dia -->
    <!-- <div class="row tituloDiaActual">
        <div class="col-md-12 text-center">
            <div class="card border shadow">
                <div class="card-body p-0 pt-2">
                    <h6 class="card-title" id="diaActual"></h6>
                </div>
            </div>
        </div>
    </div> -->
</div>
