<div class="container-fluid" id="citas">
    <!-- <a href="#" class="btn btn-success btn-sm mt-2" data-toggle="modal" data-target="#exampleModalLong"><span class="icon-doc-new"></span>Nuevo</a> -->
    <div class="row" id="list-citas">
        <div class="col-md-12">
            <div id="calendar" class="bg-white">
                
            </div>
        </div>
    </div>
    <a href="#" class="p-3 btn-primary mt-2 rounded-circle shadow btnAgregarCita" data-toggle="modal" data-target="#ingresoCitas" id="icon-add-citas"><span class="icon-plus"></span></a>
</div>

