<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Centro Odontológico El Redentor</title>
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/bootstrap/material.min.css">
        <link href='css/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="css/dientes.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/time.css">
        <link rel="stylesheet" href="css/mediaQueries.css">
        <link rel="stylesheet" href="calendar/css/main.min.css">
        <link rel="stylesheet" href="css/fontello/css/fontello.css">
        <link rel="stylesheet" href="css/fontelloProcesos/css/fontello.css">
        <link rel="stylesheet" href="css/fontelloChat/css/fontello.css">
    </head>
    <body>
        